<!DOCTYPE html>
<html lang="en">
<head>
  <title>WebPersonal</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <nav>
      <a href="/admin">Inicio</a>
      <a href="/admin/services">Servicios</a>
      <a href="/admin/galeria">Galeria</a>
      <a href="/admin/contact">Contacto</a>
      <a href="/logout">Serrar Sesion</a>
    </nav>
  </header>
  <main>
    <h2>Admin</h2>
    <p>Contenido de la página principal.</p>
  </main>
</body>
</html>