<footer>
    <ul class="footer-icons">
      <li>
        <a href="<%= contact[0].emailUrl %>"><i class="fas fa-envelope"></i></a>
      </li>
      <li>
        <a href="<%= contact[0].facebookUrl %>" target="_blank"><i class="fab fa-facebook"></i></a>
      </li>
      <li>
        <a href="<%= contact[0].whatsappUrl %>" target="_blank"><i class="fab fa-whatsapp"></i></a>
      </li>
    </ul>
    <p>&copy; <%= contact[0].footer %></p> 
</footer>