<footer>
    <ul class="footer-icons">
      <% if (contact && contact[0]) { %>
        <li>
          <a href="<%= contact[0].emailUrl %>"><i class="fas fa-envelope"></i></a>
        </li>
        <li>
          <a href="<%= contact[0].facebookUrl %>" target="_blank"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a href="<%= contact[0].whatsappUrl %>" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </li>
      <% } else { %>
        <li>No contact information available</li>
      <% } %>
    </ul>
    <p>&copy; <%= contact && contact[0] ? contact[0].footer : 'Default Footer' %></p> 
</footer>