<!DOCTYPE html>
<html lang="en">
<head>
  <title>WebPersonal</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Inicio</a>
      <a href="/services">Servicios</a>
      <a href="/galeria">Galeria</a>
      <a href="/contact">Contacto</a>
    </nav>
  </header>
  <main>
    <h2>Bienvenido a WebPersonal</h2>
    <p>Contenido de la página principal.</p>
  </main>
</body>
</html>
